{% if ansible_distribution_major_version == '7' %}
    Listen 443 https
    SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
    SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
{% endif %}

{% if ansible_distribution_major_version == '6' %}
    LoadModule ssl_module modules/mod_ssl.so
    Listen 443
    SSLPassPhraseDialog  builtin
    SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
    SSLMutex default
{% endif %}

    SSLSessionCacheTimeout  300
    SSLRandomSeed startup file:/dev/urandom  256
    SSLRandomSeed connect builtin
    SSLCryptoDevice builtin

<VirtualHost _default_:443>

ErrorLog logs/ssl_error_log
TransferLog logs/ssl_access_log
LogLevel warn

SSLEngine on
SSLProtocol all -SSLv2
{% if ansible_distribution_major_version == '7' %}
SSLOptions +LegacyDNStringFormat
{% endif %}

{% if ansible_distribution_major_version == '6' %}
    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
{% endif %}

{% if ansible_distribution_major_version == '7' %}
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5
{% endif %}

SSLCertificateFile      {{ koji_hub_SSLCertificateFile }}
SSLCertificateKeyFile   {{ koji_hub_SSLCertificateKeyFile }}
SSLCertificateChainFile {{ koji_hub_SSLCertificateChainFile }}
SSLCACertificateFile    {{ koji_hub_SSLCACertificateFile }}
SSLVerifyClient         {{ koji_hub_SSLVerifyClient }}
SSLVerifyDepth          {{ koji_hub_SSLVerifyDepth }}

<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>

<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>

{% if ansible_distribution_major_version == '7' %}
BrowserMatch "MSIE [2-5]" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
{% endif %}

{% if ansible_distribution_major_version == '6' %}
SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
{% endif %}

CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>                                  
